html {
  --lumo-shade-5pct: rgba(0, 51, 6, 0.05);
  --lumo-shade-10pct: rgba(0, 51, 6, 0.1);
  --lumo-shade-20pct: rgba(0, 51, 6, 0.2);
  --lumo-shade-30pct: rgba(0, 51, 6, 0.3);
  --lumo-shade-40pct: rgba(0, 51, 6, 0.4);
  --lumo-shade-50pct: rgba(0, 51, 6, 0.5);
  --lumo-shade-60pct: rgba(0, 51, 6, 0.6);
  --lumo-shade-70pct: rgba(0, 51, 6, 0.7);
  --lumo-shade-80pct: rgba(0, 51, 6, 0.8);
  --lumo-shade-90pct: rgba(0, 51, 6, 0.9);
  --lumo-primary-text-color: rgb(214, 111, 0);
  --lumo-primary-color-50pct: rgba(214, 111, 0, 0.5);
  --lumo-primary-color-10pct: rgba(214, 111, 0, 0.1);
  --lumo-error-text-color: rgb(231, 24, 24);
  --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
  --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
  --lumo-success-text-color: rgb(62, 229, 170);
  --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
  --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
  --lumo-shade: hsl(127, 100%, 10%);
  --lumo-primary-color: hsl(31, 100%, 42%);
  --lumo-error-color: hsl(0, 81%, 50%);
  --lumo-success-color: hsl(159, 76%, 57%);
  --lumo-success-contrast-color: hsl(159, 29%, 10%);
  --lumo-body-text-color: rgba(0, 0, 0, 1);
}

[theme~="dark"] {
  --lumo-shade-5pct: rgba(26, 26, 26, 0.05);
  --lumo-shade-10pct: rgba(26, 26, 26, 0.1);
  --lumo-shade-20pct: rgba(26, 26, 26, 0.2);
  --lumo-shade-30pct: rgba(26, 26, 26, 0.3);
  --lumo-shade-40pct: rgba(26, 26, 26, 0.4);
  --lumo-shade-50pct: rgba(26, 26, 26, 0.5);
  --lumo-shade-60pct: rgba(26, 26, 26, 0.6);
  --lumo-shade-70pct: rgba(26, 26, 26, 0.7);
  --lumo-shade-80pct: rgba(26, 26, 26, 0.8);
  --lumo-shade-90pct: rgba(26, 26, 26, 0.9);
  --lumo-primary-text-color: rgb(235, 89, 5);
  --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
  --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
  --lumo-error-text-color: rgb(231, 24, 24);
  --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
  --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
  --lumo-success-text-color: rgb(15, 151, 255);
  --lumo-success-color-50pct: rgba(15, 151, 255, 0.5);
  --lumo-success-color-10pct: rgba(15, 151, 255, 0.1);
  --lumo-shade: hsl(0, 0%, 10%);
  --lumo-primary-color: hsl(22, 96%, 47%);
  --lumo-error-color: hsl(0, 81%, 50%);
  --lumo-success-color: hsl(206, 100%, 53%);
  --lumo-success-contrast-color: hsl(159, 29%, 10%);
  --lumo-base-color: hsla(119, 81%, 11%, 1);
  --lumo-tint-5pct: rgba(255, 255, 255, 0.05);
  --lumo-tint-10pct: rgba(255, 255, 255, 0.1);
  --lumo-tint-20pct: rgba(255, 255, 255, 0.2);
  --lumo-tint-30pct: rgba(255, 255, 255, 0.3);
  --lumo-tint-40pct: rgba(255, 255, 255, 0.4);
  --lumo-tint-50pct: rgba(255, 255, 255, 0.5);
  --lumo-tint-60pct: rgba(255, 255, 255, 0.6);
  --lumo-tint-70pct: rgba(255, 255, 255, 0.7);
  --lumo-tint-80pct: rgba(255, 255, 255, 0.8);
  --lumo-tint-90pct: rgba(255, 255, 255, 0.9);
  --lumo-tint: hsl(214, 0%, 100%);
}


.maplibregl-map {
    background-color: #f8fff7;
}

@media (display-mode: standalone) and @supports (-webkit-touch-callout: none) {
    vaadin-app-layout[overlay]::part(navbar) {
        /* workaround for "regression" after https://github.com/vaadin/flow/pull/21025
         * The UX is now better but there is visually "too much padding" in the bottom
         * with devices that have rounded corners.
         * Note, this selector hits only ios pwa's, probably something similar would be needed for android
         * (I don't have a good test setup, so left out). Also this may now look weird on some ipads 🤔
         */
        padding-bottom: 12px;
    }
}
